body {
    font-family: Oswald, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #433843;
    color: #fdd7d0;
    font-size: 18px;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-top: 25px;
    border: solid 0.3px;

    min-height: 99svh;
}

pre {
    background-color: #814749;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    /* white-space: pre-wrap;
    word-wrap: break-word; */
    /* white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap; */
}

code {
    /* white-space: pre-wrap;
    word-wrap: break-word; */
    background-color: #814749;
    padding: 2px 4px;
    border-radius: 3px;
}

h4 {
    font-size: 22px;
}

h3 {
    font-size: 26px;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 34px;
}

a:link {
    color: #ff6961;
}

a:visited {
    color: #d0fdd7;
}

a:hover {
    color: #d7d0fd;
}

a:active {
    color: #ffd7d0;
}

table,
th,
td {
    border: 1px solid;
}

td,
th {
    padding: 7px;
}

table {
    margin-top: 10px;
    margin-bottom: 25px;
}
